<a href="https://colab.research.google.com/github/SantiagoVillalobosB/Machine_Learning_2022/blob/Main/PROYECTO_9.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

##**Importación de librerias**

In [2]:
import pandas as pd 
import numpy as np 
import seaborn as sns 
import matplotlib.pyplot as plt 
from sklearn.linear_model import LinearRegression, LogisticRegression 
from sklearn.svm import SVC 
from sklearn.datasets import make_blobs
from sklearn.preprocessing import StandardScaler
from sklearn import svm
from scipy.spatial.distance import mahalanobis
from scipy.stats import chi2
from sklearn.preprocessing import LabelEncoder, StandardScaler
from sklearn.decomposition import PCA
from sklearn.model_selection import train_test_split
import warnings
from sklearn.cluster import KMeans
from sklearn.metrics import pairwise_distances_argmin_min
from sklearn import tree
from sklearn.metrics import accuracy_score 
from sklearn.model_selection import cross_val_score
from IPython.display import Image as PImage 
from sklearn.preprocessing import StandardScaler
from sklearn import svm
warnings.filterwarnings("ignore")

In [3]:
df = pd.read_csv('https://raw.githubusercontent.com/labeconometria/proyectos/main/economicas.csv')

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3855 entries, 0 to 3854
Data columns (total 97 columns):
 #   Column                          Non-Null Count  Dtype
---  ------                          --------------  -----
 0   ESTU_CONSECUTIVO                3855 non-null   object
 1   RESULT_CODIGOPRUEBA             3855 non-null   int64
 2   RESULT_NOMBREPRUEBA             3855 non-null   object
 3   RESULT_PUNTAJE                  3855 non-null   int64
 4   RESULT_DESEMPENO                3855 non-null   int64
 5   ESTU_AGREGADO                   3855 non-null   object
 6   ESTU_TIPODOCUMENTO              3855 non-null   object
 7   ESTU_NACIONALIDAD               3855 non-null   object
 8   ESTU_GENERO                     3855 non-null   object
 9   ESTU_FECHANACIMIENTO            3855 non-null   object
 10  ESTU_EXTERIOR                   3855 non-null   object
 11  PERIODO                         3855 non-null   int64
 12  ESTU_ESTUDIANTE                 3855 non-null   object
 13  ESTU_PAIS_RESIDE                3855 non-null   object
 14  ESTU_DEPTO_RESIDE               3855 non-null   object
 15  ESTU_COD_RESIDE_DEPTO           3855 non-null   int64
 16  ESTU_MCPIO_RESIDE               3855 non-null   object
 17  ESTU_COD_RESIDE_MCPIO           3855 non-null   int64
 18  ESTU_AREARESIDE                 3852 non-null   object
 19  ESTU_COLE_TERMINO               2768 non-null   object
 20  ESTU_CODDANE_COLE_TERMINO       2768 non-null   float64
 21  ESTU_COD_COLE_MCPIO_TERMINO     2768 non-null   float64
 22  ESTU_TITULOOBTENIDOBACHILLER    3850 non-null   object
 23  ESTU_VALORMATRICULAUNIVERSIDAD  3850 non-null   object
 24  ESTU_PAGOMATRICULABECA          3850 non-null   object
 25  ESTU_PAGOMATRICULACREDITO       3850 non-null   object
 26  ESTU_PAGOMATRICULAPADRES        3850 non-null   object
 27  ESTU_PAGOMATRICULAPROPIO        3850 non-null   object
 28  ESTU_COMOCAPACITOEXAMENSB11     3852 non-null   object
 29  ESTU_TIPODOCUMENTOSB11          3821 non-null   object
 30  ESTU_SEMESTRECURSA              3850 non-null   object
 31  FAMI_EDUCACIONPADRE             3760 non-null   object
 32  FAMI_EDUCACIONMADRE             3755 non-null   object
 33  FAMI_TRABAJOLABORPADRE          3451 non-null   object
 34  FAMI_TRABAJOLABORMADRE          3611 non-null   object
 35  FAMI_ESTRATOVIVIENDA            3721 non-null   object
 36  ESTU_OTROCOLE_TERMINO           704 non-null    object
 37  FAMI_TIENEINTERNET              3723 non-null   object
 38  FAMI_TIENECOMPUTADOR            3483 non-null   object
 39  FAMI_TIENELAVADORA              3444 non-null   object
 40  FAMI_TIENEHORNOMICROOGAS        3423 non-null   object
 41  FAMI_TIENESERVICIOTV            3739 non-null   object
 42  FAMI_TIENEAUTOMOVIL             3414 non-null   object
 43  FAMI_TIENEMOTOCICLETA           3423 non-null   object
 44  FAMI_TIENECONSOLAVIDEOJUEGOS    3430 non-null   object
 45  FAMI_CUANTOSCOMPARTEBAÑO        3730 non-null   object
 46  ESTU_PRESENTACIONCASA           3855 non-null   object
 47  ESTU_PAISDOCUMENTOS11           3850 non-null   object
 48  ESTU_HORASSEMANATRABAJA         3723 non-null   object
 49  INST_COD_INSTITUCION            3855 non-null   int64
 50  INST_NOMBRE_INSTITUCION         3855 non-null   object
 51  ESTU_PRGM_ACADEMICO             3855 non-null   object
 52  ESTU_SNIES_PRGMACADEMICO        3855 non-null   int64
 53  GRUPOREFERENCIA                 3855 non-null   object
 54  ESTU_PRGM_CODMUNICIPIO          3855 non-null   int64
 55  ESTU_PRGM_MUNICIPIO             3855 non-null   object
 56  ESTU_PRGM_DEPARTAMENTO          3855 non-null   object
 57  ESTU_NIVEL_PRGM_ACADEMICO       3855 non-null   object
 58  ESTU_METODO_PRGM                3855 non-null   object
 59  ESTU_NUCLEO_PREGRADO            3855 non-null   object
 60  ESTU_INST_CODMUNICIPIO          3855 non-null   int64
 61  ESTU_INST_MUNICIPIO             3855 non-null   object
 62  ESTU_INST_DEPARTAMENTO          3855 non-null   object
 63  INST_CARACTER_ACADEMICO         3855 non-null   object
 64  INST_ORIGEN                     3855 non-null   object
 65  ESTU_PRIVADO_LIBERTAD           3855 non-null   object
 66  ESTU_COD_MCPIO_PRESENTACION     3855 non-null   int64
 67  ESTU_MCPIO_PRESENTACION         3855 non-null   object
 68  ESTU_DEPTO_PRESENTACION         3855 non-null   object
 69  ESTU_COD_DEPTO_PRESENTACION     3855 non-null   int64
 70  MOD_RAZONA_CUANTITAT_PUNT       3855 non-null   int64
 71  MOD_RAZONA_CUANTITAT_DESEM      3855 non-null   int64
 72  MOD_RAZONA_CUANTITATIVO_PNAL    3855 non-null   int64
 73  MOD_RAZONA_CUANTITATIVO_PNBC    3855 non-null   int64
 74  MOD_LECTURA_CRITICA_PUNT        3855 non-null   int64
 75  MOD_LECTURA_CRITICA_DESEM       3855 non-null   int64
 76  MOD_LECTURA_CRITICA_PNAL        3855 non-null   int64
 77  MOD_LECTURA_CRITICA_PNBC        3855 non-null   int64
 78  MOD_COMPETEN_CIUDADA_PUNT       3855 non-null   int64
 79  MOD_COMPETEN_CIUDADA_DESEM      3855 non-null   int64
 80  MOD_COMPETEN_CIUDADA_PNAL       3855 non-null   int64
 81  MOD_COMPETEN_CIUDADA_PNBC       3855 non-null   int64
 82  MOD_INGLES_PUNT                 3855 non-null   int64
 83  MOD_INGLES_DESEM                3855 non-null   object
 84  MOD_INGLES_PNAL                 3855 non-null   int64
 85  MOD_INGLES_PNBC                 3855 non-null   int64
 86  MOD_COMUNI_ESCRITA_PUNT         3855 non-null   int64
 87  MOD_COMUNI_ESCRITA_DESEM        3801 non-null   float64
 88  MOD_COMUNI_ESCRITA_PNAL         3855 non-null   int64
 89  MOD_COMUNI_ESCRITA_PNBC         3855 non-null   int64
 90  PUNT_GLOBAL                     3855 non-null   int64
 91  PERCENTIL_NBC                   3855 non-null   int64
 92  PERCENTIL_GLOBAL                3855 non-null   int64
 93  ESTU_INSE_INDIVIDUAL            3724 non-null   float64
 94  ESTU_NSE_INDIVIDUAL             3724 non-null   float64
 95  ESTU_NSE_IES                    3855 non-null   int64
 96  ESTU_ESTADOINVESTIGACION        3855 non-null   object
dtypes: float64(5), int64(34), object(58)
memory usage: 2.9+ MB

In [5]:
df.drop(['ESTU_CONSECUTIVO', 'RESULT_CODIGOPRUEBA', 'RESULT_NOMBREPRUEBA', 'RESULT_PUNTAJE', 'RESULT_DESEMPENO', 'ESTU_AGREGADO', 'ESTU_FECHANACIMIENTO', 'PERIODO', 'ESTU_ESTUDIANTE', 'ESTU_PAIS_RESIDE','ESTU_COD_RESIDE_DEPTO', 'ESTU_MCPIO_RESIDE', 'ESTU_COD_RESIDE_MCPIO', 'ESTU_AREARESIDE', 'ESTU_COLE_TERMINO', 'ESTU_CODDANE_COLE_TERMINO', 'ESTU_COD_COLE_MCPIO_TERMINO', 'ESTU_TITULOOBTENIDOBACHILLER',  'ESTU_COMOCAPACITOEXAMENSB11', 'ESTU_TIPODOCUMENTOSB11','ESTU_OTROCOLE_TERMINO', 'FAMI_TIENELAVADORA', 'FAMI_TIENEHORNOMICROOGAS', 'FAMI_TIENESERVICIOTV', 'FAMI_TIENEAUTOMOVIL', 'FAMI_TIENEMOTOCICLETA', 'FAMI_TIENECONSOLAVIDEOJUEGOS', 'FAMI_CUANTOSCOMPARTEBAÑO', 'ESTU_PRESENTACIONCASA', 'ESTU_PAISDOCUMENTOS11', 'ESTU_HORASSEMANATRABAJA', 'INST_COD_INSTITUCION', 'INST_NOMBRE_INSTITUCION','ESTU_SNIES_PRGMACADEMICO', 'GRUPOREFERENCIA', 'ESTU_PRGM_CODMUNICIPIO', 'ESTU_PRGM_MUNICIPIO', 'ESTU_PRGM_DEPARTAMENTO', 'ESTU_NIVEL_PRGM_ACADEMICO', 'ESTU_METODO_PRGM', 'ESTU_NUCLEO_PREGRADO', 'ESTU_INST_CODMUNICIPIO', 'ESTU_INST_MUNICIPIO', 'ESTU_INST_DEPARTAMENTO', 'INST_CARACTER_ACADEMICO', 'INST_ORIGEN', 'ESTU_PRIVADO_LIBERTAD', 'ESTU_COD_MCPIO_PRESENTACION', 'ESTU_MCPIO_PRESENTACION', 'ESTU_DEPTO_PRESENTACION', 'ESTU_COD_DEPTO_PRESENTACION','MOD_RAZONA_CUANTITAT_DESEM', 'MOD_RAZONA_CUANTITATIVO_PNAL', 'MOD_RAZONA_CUANTITATIVO_PNBC', 'MOD_LECTURA_CRITICA_DESEM', 'MOD_LECTURA_CRITICA_PNAL', 'MOD_LECTURA_CRITICA_PNBC', 'MOD_COMPETEN_CIUDADA_DESEM', 'MOD_COMPETEN_CIUDADA_PNAL','MOD_COMPETEN_CIUDADA_PNBC','MOD_INGLES_DESEM', 'MOD_INGLES_PNAL', 'MOD_INGLES_PNBC', 'MOD_COMUNI_ESCRITA_DESEM', 'MOD_COMUNI_ESCRITA_PNAL', 'MOD_COMUNI_ESCRITA_PNBC',  'PERCENTIL_NBC', 'PERCENTIL_GLOBAL', 'ESTU_INSE_INDIVIDUAL', 'ESTU_NSE_INDIVIDUAL', 'ESTU_NSE_IES', 'ESTU_ESTADOINVESTIGACION'], axis=1, inplace=True)

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3855 entries, 0 to 3854
Data columns (total 25 columns):
 #   Column                          Non-Null Count  Dtype
---  ------                          --------------  -----
 0   ESTU_TIPODOCUMENTO              3855 non-null   object
 1   ESTU_NACIONALIDAD               3855 non-null   object
 2   ESTU_GENERO                     3855 non-null   object
 3   ESTU_EXTERIOR                   3855 non-null   object
 4   ESTU_DEPTO_RESIDE               3855 non-null   object
 5   ESTU_VALORMATRICULAUNIVERSIDAD  3850 non-null   object
 6   ESTU_PAGOMATRICULABECA          3850 non-null   object
 7   ESTU_PAGOMATRICULACREDITO       3850 non-null   object
 8   ESTU_PAGOMATRICULAPADRES        3850 non-null   object
 9   ESTU_PAGOMATRICULAPROPIO        3850 non-null   object
 10  ESTU_SEMESTRECURSA              3850 non-null   object
 11  FAMI_EDUCACIONPADRE             3760 non-null   object
 12  FAMI_EDUCACIONMADRE             3755 non-null   object
 13  FAMI_TRABAJOLABORPADRE          3451 non-null   object
 14  FAMI_TRABAJOLABORMADRE          3611 non-null   object
 15  FAMI_ESTRATOVIVIENDA            3721 non-null   object
 16  FAMI_TIENEINTERNET              3723 non-null   object
 17  FAMI_TIENECOMPUTADOR            3483 non-null   object
 18  ESTU_PRGM_ACADEMICO             3855 non-null   object
 19  MOD_RAZONA_CUANTITAT_PUNT       3855 non-null   int64
 20  MOD_LECTURA_CRITICA_PUNT        3855 non-null   int64
 21  MOD_COMPETEN_CIUDADA_PUNT       3855 non-null   int64
 22  MOD_INGLES_PUNT                 3855 non-null   int64
 23  MOD_COMUNI_ESCRITA_PUNT         3855 non-null   int64
 24  PUNT_GLOBAL                     3855 non-null   int64
dtypes: int64(6), object(19)
memory usage: 753.1+ KB

In [7]:
print(f'cantidad de datos del dataset original contando todos los posibles duplicados: {df.shape}')
df.drop_duplicates(inplace = True)
print(f'cantidad de datos del dataset original cuando ya se reviso si habia datos suplicados:  {df.shape}')

cantidad de datos del dataset original contando todos los posibles duplicados: (3855, 25)
cantidad de datos del dataset original cuando ya se reviso si habia datos suplicados:  (3855, 25)

In [8]:
df.isnull().sum()

ESTU_TIPODOCUMENTO                  0
ESTU_NACIONALIDAD                   0
ESTU_GENERO                         0
ESTU_EXTERIOR                       0
ESTU_DEPTO_RESIDE                   0
ESTU_VALORMATRICULAUNIVERSIDAD      5
ESTU_PAGOMATRICULABECA              5
ESTU_PAGOMATRICULACREDITO           5
ESTU_PAGOMATRICULAPADRES            5
ESTU_PAGOMATRICULAPROPIO            5
ESTU_SEMESTRECURSA                  5
FAMI_EDUCACIONPADRE                95
FAMI_EDUCACIONMADRE               100
FAMI_TRABAJOLABORPADRE            404
FAMI_TRABAJOLABORMADRE            244
FAMI_ESTRATOVIVIENDA              134
FAMI_TIENEINTERNET                132
FAMI_TIENECOMPUTADOR              372
ESTU_PRGM_ACADEMICO                 0
MOD_RAZONA_CUANTITAT_PUNT           0
MOD_LECTURA_CRITICA_PUNT            0
MOD_COMPETEN_CIUDADA_PUNT           0
MOD_INGLES_PUNT                     0
MOD_COMUNI_ESCRITA_PUNT             0
PUNT_GLOBAL                         0
dtype: int64

In [9]:
df.dropna(subset=['ESTU_VALORMATRICULAUNIVERSIDAD','ESTU_PAGOMATRICULABECA','ESTU_PAGOMATRICULACREDITO','ESTU_PAGOMATRICULAPADRES','ESTU_PAGOMATRICULAPROPIO','ESTU_SEMESTRECURSA','FAMI_EDUCACIONMADRE','FAMI_TRABAJOLABORPADRE','FAMI_TRABAJOLABORMADRE', 'FAMI_ESTRATOVIVIENDA','FAMI_TIENEINTERNET','FAMI_TIENECOMPUTADOR'], inplace=True)

In [10]:
df.isnull().sum()

ESTU_TIPODOCUMENTO                0
ESTU_NACIONALIDAD                 0
ESTU_GENERO                       0
ESTU_EXTERIOR                     0
ESTU_DEPTO_RESIDE                 0
ESTU_VALORMATRICULAUNIVERSIDAD    0
ESTU_PAGOMATRICULABECA            0
ESTU_PAGOMATRICULACREDITO         0
ESTU_PAGOMATRICULAPADRES          0
ESTU_PAGOMATRICULAPROPIO          0
ESTU_SEMESTRECURSA                0
FAMI_EDUCACIONPADRE               0
FAMI_EDUCACIONMADRE               0
FAMI_TRABAJOLABORPADRE            0
FAMI_TRABAJOLABORMADRE            0
FAMI_ESTRATOVIVIENDA              0
FAMI_TIENEINTERNET                0
FAMI_TIENECOMPUTADOR              0
ESTU_PRGM_ACADEMICO               0
MOD_RAZONA_CUANTITAT_PUNT         0
MOD_LECTURA_CRITICA_PUNT          0
MOD_COMPETEN_CIUDADA_PUNT         0
MOD_INGLES_PUNT                   0
MOD_COMUNI_ESCRITA_PUNT           0
PUNT_GLOBAL                       0
dtype: int64

In [11]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 3129 entries, 1 to 3850
Data columns (total 25 columns):
 #   Column                          Non-Null Count  Dtype
---  ------                          --------------  -----
 0   ESTU_TIPODOCUMENTO              3129 non-null   object
 1   ESTU_NACIONALIDAD               3129 non-null   object
 2   ESTU_GENERO                     3129 non-null   object
 3   ESTU_EXTERIOR                   3129 non-null   object
 4   ESTU_DEPTO_RESIDE               3129 non-null   object
 5   ESTU_VALORMATRICULAUNIVERSIDAD  3129 non-null   object
 6   ESTU_PAGOMATRICULABECA          3129 non-null   object
 7   ESTU_PAGOMATRICULACREDITO       3129 non-null   object
 8   ESTU_PAGOMATRICULAPADRES        3129 non-null   object
 9   ESTU_PAGOMATRICULAPROPIO        3129 non-null   object
 10  ESTU_SEMESTRECURSA              3129 non-null   object
 11  FAMI_EDUCACIONPADRE             3129 non-null   object
 12  FAMI_EDUCACIONMADRE             3129 non-null   object
 13  FAMI_TRABAJOLABORPADRE          3129 non-null   object
 14  FAMI_TRABAJOLABORMADRE          3129 non-null   object
 15  FAMI_ESTRATOVIVIENDA            3129 non-null   object
 16  FAMI_TIENEINTERNET              3129 non-null   object
 17  FAMI_TIENECOMPUTADOR            3129 non-null   object
 18  ESTU_PRGM_ACADEMICO             3129 non-null   object
 19  MOD_RAZONA_CUANTITAT_PUNT       3129 non-null   int64
 20  MOD_LECTURA_CRITICA_PUNT        3129 non-null   int64
 21  MOD_COMPETEN_CIUDADA_PUNT       3129 non-null   int64
 22  MOD_INGLES_PUNT                 3129 non-null   int64
 23  MOD_COMUNI_ESCRITA_PUNT         3129 non-null   int64
 24  PUNT_GLOBAL                     3129 non-null   int64
dtypes: int64(6), object(19)
memory usage: 635.6+ KB

In [12]:
df.fillna(method='ffill')

,ESTU_TIPODOCUMENTO,ESTU_NACIONALIDAD,ESTU_GENERO,ESTU_EXTERIOR,ESTU_DEPTO_RESIDE,ESTU_VALORMATRICULAUNIVERSIDAD,ESTU_PAGOMATRICULABECA,ESTU_PAGOMATRICULACREDITO,ESTU_PAGOMATRICULAPADRES,ESTU_PAGOMATRICULAPROPIO,...,FAMI_ESTRATOVIVIENDA,FAMI_TIENEINTERNET,FAMI_TIENECOMPUTADOR,ESTU_PRGM_ACADEMICO,MOD_RAZONA_CUANTITAT_PUNT,MOD_LECTURA_CRITICA_PUNT,MOD_COMPETEN_CIUDADA_PUNT,MOD_INGLES_PUNT,MOD_COMUNI_ESCRITA_PUNT,PUNT_GLOBAL
1,CC,COLOMBIA,M,NO,BOGOTÁ,Más de 7 millones,No,No,Si,No,...,Estrato 4,Si,Si,ECONOMIA,201,192,206,210,300,222
3,CC,COLOMBIA,F,NO,BOGOTÁ,Entre 1 millón y menos de 2.5 millones,No,Si,No,No,...,Estrato 3,Si,Si,ECONOMÍA,146,186,173,187,101,159
4,CC,COLOMBIA,M,NO,BOGOTÁ,Entre 4 millones y menos de 5.5 millones,No,No,No,Si,...,Estrato 3,Si,Si,ECONOMIA,158,175,165,163,117,156
5,CC,COLOMBIA,F,NO,BOGOTÁ,Entre 2.5 millones y menos de 4 millones,No,No,No,Si,...,Estrato 2,Si,Si,ECONOMIA,141,148,163,136,146,147
6,CC,COLOMBIA,M,NO,VALLE,Entre 1 millón y menos de 2.5 millones,No,Si,Si,Si,...,Estrato 3,Si,No,COMERCIO EXTERIOR,162,153,154,182,97,150
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3846,CC,COLOMBIA,M,NO,BOGOTÁ,Menos de 500 mil,No,No,Si,Si,...,Estrato 3,Si,Si,ECONOMIA,220,201,207,190,186,201
3847,CC,COLOMBIA,M,NO,CALDAS,Entre 2.5 millones y menos de 4 millones,No,Si,No,No,...,Estrato 3,Si,Si,NEGOCIOS INTERNACIONALES,112,145,175,161,128,144
3848,CC,COLOMBIA,M,NO,BOGOTÁ,Entre 2.5 millones y menos de 4 millones,No,Si,No,Si,...,Estrato 3,Si,Si,ECONOMIA,138,147,152,196,87,144
3849,CC,COLOMBIA,M,NO,BOGOTÁ,Entre 5.5 millones y menos de 7 millones,No,Si,Si,Si,...,Estrato 3,Si,Si,NEGOCIOS INTERNACIONALES,151,175,167,162,151,161
3850,CC,COLOMBIA,M,NO,VALLE,Más de 7 millones,No,No,Si,No,...,Estrato 5,Si,Si,ECONOMIA,198,193,209,202,180,196

In [18]:
datos=df.drop(['ESTU_TIPODOCUMENTO','ESTU_NACIONALIDAD','ESTU_GENERO','ESTU_EXTERIOR','ESTU_DEPTO_RESIDE','ESTU_VALORMATRICULAUNIVERSIDAD','ESTU_PAGOMATRICULABECA','ESTU_PAGOMATRICULACREDITO','ESTU_PAGOMATRICULAPADRES','ESTU_PAGOMATRICULAPROPIO','ESTU_SEMESTRECURSA','FAMI_EDUCACIONPADRE','FAMI_EDUCACIONMADRE','FAMI_TRABAJOLABORPADRE','FAMI_TRABAJOLABORMADRE','FAMI_ESTRATOVIVIENDA','FAMI_TIENEINTERNET','FAMI_TIENECOMPUTADOR','ESTU_PRGM_ACADEMICO'],axis=1)

In [19]:
datos.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 3129 entries, 1 to 3850
Data columns (total 6 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   MOD_RAZONA_CUANTITAT_PUNT  3129 non-null   int64
 1   MOD_LECTURA_CRITICA_PUNT   3129 non-null   int64
 2   MOD_COMPETEN_CIUDADA_PUNT  3129 non-null   int64
 3   MOD_INGLES_PUNT            3129 non-null   int64
 4   MOD_COMUNI_ESCRITA_PUNT    3129 non-null   int64
 5   PUNT_GLOBAL                3129 non-null   int64
dtypes: int64(6)
memory usage: 171.1 KB

In [20]:
kmeans = KMeans(n_clusters=2, random_state=0).fit(datos)

In [21]:
y=kmeans.labels_

In [22]:
y

array([1, 0, 0, ..., 0, 1, 1], dtype=int32)

In [23]:
from sklearn.model_selection import train_test_split

In [24]:
x_train, x_test, y_train, y_test = train_test_split(datos, y, test_size=4, random_state=4)

In [25]:
print(x_train.shape)
print(x_test.shape)

(3125, 6)
(4, 6)

In [26]:
x_train

,MOD_RAZONA_CUANTITAT_PUNT,MOD_LECTURA_CRITICA_PUNT,MOD_COMPETEN_CIUDADA_PUNT,MOD_INGLES_PUNT,MOD_COMUNI_ESCRITA_PUNT,PUNT_GLOBAL
3571,139,167,145,160,145,151
2578,172,188,189,209,179,187
1020,194,189,210,213,300,221
3241,142,102,124,131,116,123
103,120,140,173,126,145,141
...,...,...,...,...,...,...
2330,186,189,161,190,194,184
834,136,125,132,144,129,133
3041,188,189,205,175,143,180
198,181,193,179,209,134,179
1367,125,118,88,174,133,128

In [27]:
scaler=StandardScaler()
print(scaler.fit(x_train))
x_train=scaler.transform(x_train)

StandardScaler()

In [28]:
print(scaler.mean_)

[162.71072 160.25984 159.91744 174.53504 150.69984 161.62944]

In [29]:
x_train

array([[-0.72992633,  0.20816766, -0.43479718, -0.4320586 , -0.1407599 ,
        -0.39726365],
       [ 0.28596728,  0.85674586,  0.84766657,  1.0244817 ,  0.69888411,
         0.94819682],
       [ 0.96322968,  0.88763054,  1.45975154,  1.14338295,  3.68702898,
         2.21890949],
       ...,
       [ 0.77852176,  0.88763054,  1.31401703,  0.01382108, -0.19015072,
         0.68657951],
       [ 0.56302917,  1.01116925,  0.55619753,  1.0244817 , -0.41240943,
         0.64920561],
       [-1.1609115 , -1.30518148, -2.09617068, -0.01590423, -0.43710484,
        -1.25686339]])

In [30]:
clf=svm.SVC(kernel='linear',probability=True)
clf.fit(x_train,y_train)

SVC(kernel='linear', probability=True)

In [31]:
scaler=StandardScaler()
print(scaler.fit(x_test))
x_test=scaler.transform(x_test)

StandardScaler()

In [32]:
y_pred=clf.predict(x_test)

In [33]:
y_pred

array([0, 0, 1, 1], dtype=int32)