<a href="https://colab.research.google.com/github/SantiagoVillalobosB/Machine_Learning_2022/blob/Main/PROYECTO_8_16_05_22.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from scipy import linalg

from sklearn.decomposition import PCA
from sklearn.datasets import load_iris
from sklearn.preprocessing import StandardScaler
from sklearn.pipeline import make_pipeline

In [ ]:
df = pd.read_csv('https://raw.githubusercontent.com/labeconometria/proyectos/main/economicas.csv')

In [ ]:
df.describe()

,RESULT_CODIGOPRUEBA,RESULT_PUNTAJE,RESULT_DESEMPENO,PERIODO,ESTU_COD_RESIDE_DEPTO,ESTU_COD_RESIDE_MCPIO,ESTU_CODDANE_COLE_TERMINO,ESTU_COD_COLE_MCPIO_TERMINO,INST_COD_INSTITUCION,ESTU_SNIES_PRGMACADEMICO,...,MOD_COMUNI_ESCRITA_PUNT,MOD_COMUNI_ESCRITA_DESEM,MOD_COMUNI_ESCRITA_PNAL,MOD_COMUNI_ESCRITA_PNBC,PUNT_GLOBAL,PERCENTIL_NBC,PERCENTIL_GLOBAL,ESTU_INSE_INDIVIDUAL,ESTU_NSE_INDIVIDUAL,ESTU_NSE_IES
count,3855.0,3855.000000,3855.000000,3855.0,3855.000000,3855.000000,2.768000e+03,2768.000000,3855.000000,3855.000000,...,3855.000000,3801.000000,3855.000000,3855.000000,3855.000000,3855.000000,3855.000000,3724.000000,3724.000000,3855.000000
mean,2001.0,123.739818,1.622049,20212.0,55.073152,29283.845396,2.364019e+11,32569.526012,1893.681453,29043.246174,...,149.962387,2.552749,59.087938,49.790921,159.772763,50.912581,66.143191,52.392272,2.339689,2.204929
std,0.0,36.175271,0.823615,0.0,1610.310349,25136.372255,1.025651e+11,25939.905800,1311.513573,35056.757368,...,41.331389,0.835979,29.619982,29.587852,27.648861,29.371215,27.476116,10.889558,1.162039,0.945877
min,2001.0,0.000000,1.000000,20212.0,5.000000,5001.000000,1.500010e+10,5001.000000,1101.000000,18.000000,...,0.000000,1.000000,1.000000,1.000000,0.000000,1.000000,1.000000,24.208587,1.000000,1.000000
25%,2001.0,102.000000,1.000000,20212.0,11.000000,11001.000000,1.255130e+11,11001.000000,1205.000000,1442.000000,...,126.000000,2.000000,34.000000,24.000000,142.000000,25.000000,46.000000,44.514557,1.000000,2.000000
50%,2001.0,119.000000,1.000000,20212.0,13.000000,13001.000000,2.520010e+11,19055.500000,1714.000000,9980.000000,...,154.000000,3.000000,65.000000,50.000000,160.000000,51.000000,73.000000,51.448311,2.000000,2.000000
75%,2001.0,144.000000,2.000000,20212.0,50.000000,50006.000000,3.130010e+11,54001.000000,1826.000000,53470.000000,...,171.000000,3.000000,85.000000,75.000000,178.000000,77.000000,90.000000,59.751600,4.000000,3.000000
max,2001.0,300.000000,4.000000,20212.0,99999.000000,99999.000000,5.540013e+11,99524.000000,9913.000000,105814.000000,...,300.000000,4.000000,100.000000,100.000000,263.000000,100.000000,100.000000,81.683323,4.000000,4.000000

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3855 entries, 0 to 3854
Data columns (total 97 columns):
 #   Column                          Non-Null Count  Dtype
---  ------                          --------------  -----
 0   ESTU_CONSECUTIVO                3855 non-null   object
 1   RESULT_CODIGOPRUEBA             3855 non-null   int64
 2   RESULT_NOMBREPRUEBA             3855 non-null   object
 3   RESULT_PUNTAJE                  3855 non-null   int64
 4   RESULT_DESEMPENO                3855 non-null   int64
 5   ESTU_AGREGADO                   3855 non-null   object
 6   ESTU_TIPODOCUMENTO              3855 non-null   object
 7   ESTU_NACIONALIDAD               3855 non-null   object
 8   ESTU_GENERO                     3855 non-null   object
 9   ESTU_FECHANACIMIENTO            3855 non-null   object
 10  ESTU_EXTERIOR                   3855 non-null   object
 11  PERIODO                         3855 non-null   int64
 12  ESTU_ESTUDIANTE                 3855 non-null   object
 13  ESTU_PAIS_RESIDE                3855 non-null   object
 14  ESTU_DEPTO_RESIDE               3855 non-null   object
 15  ESTU_COD_RESIDE_DEPTO           3855 non-null   int64
 16  ESTU_MCPIO_RESIDE               3855 non-null   object
 17  ESTU_COD_RESIDE_MCPIO           3855 non-null   int64
 18  ESTU_AREARESIDE                 3852 non-null   object
 19  ESTU_COLE_TERMINO               2768 non-null   object
 20  ESTU_CODDANE_COLE_TERMINO       2768 non-null   float64
 21  ESTU_COD_COLE_MCPIO_TERMINO     2768 non-null   float64
 22  ESTU_TITULOOBTENIDOBACHILLER    3850 non-null   object
 23  ESTU_VALORMATRICULAUNIVERSIDAD  3850 non-null   object
 24  ESTU_PAGOMATRICULABECA          3850 non-null   object
 25  ESTU_PAGOMATRICULACREDITO       3850 non-null   object
 26  ESTU_PAGOMATRICULAPADRES        3850 non-null   object
 27  ESTU_PAGOMATRICULAPROPIO        3850 non-null   object
 28  ESTU_COMOCAPACITOEXAMENSB11     3852 non-null   object
 29  ESTU_TIPODOCUMENTOSB11          3821 non-null   object
 30  ESTU_SEMESTRECURSA              3850 non-null   object
 31  FAMI_EDUCACIONPADRE             3760 non-null   object
 32  FAMI_EDUCACIONMADRE             3755 non-null   object
 33  FAMI_TRABAJOLABORPADRE          3451 non-null   object
 34  FAMI_TRABAJOLABORMADRE          3611 non-null   object
 35  FAMI_ESTRATOVIVIENDA            3721 non-null   object
 36  ESTU_OTROCOLE_TERMINO           704 non-null    object
 37  FAMI_TIENEINTERNET              3723 non-null   object
 38  FAMI_TIENECOMPUTADOR            3483 non-null   object
 39  FAMI_TIENELAVADORA              3444 non-null   object
 40  FAMI_TIENEHORNOMICROOGAS        3423 non-null   object
 41  FAMI_TIENESERVICIOTV            3739 non-null   object
 42  FAMI_TIENEAUTOMOVIL             3414 non-null   object
 43  FAMI_TIENEMOTOCICLETA           3423 non-null   object
 44  FAMI_TIENECONSOLAVIDEOJUEGOS    3430 non-null   object
 45  FAMI_CUANTOSCOMPARTEBAÑO        3730 non-null   object
 46  ESTU_PRESENTACIONCASA           3855 non-null   object
 47  ESTU_PAISDOCUMENTOS11           3850 non-null   object
 48  ESTU_HORASSEMANATRABAJA         3723 non-null   object
 49  INST_COD_INSTITUCION            3855 non-null   int64
 50  INST_NOMBRE_INSTITUCION         3855 non-null   object
 51  ESTU_PRGM_ACADEMICO             3855 non-null   object
 52  ESTU_SNIES_PRGMACADEMICO        3855 non-null   int64
 53  GRUPOREFERENCIA                 3855 non-null   object
 54  ESTU_PRGM_CODMUNICIPIO          3855 non-null   int64
 55  ESTU_PRGM_MUNICIPIO             3855 non-null   object
 56  ESTU_PRGM_DEPARTAMENTO          3855 non-null   object
 57  ESTU_NIVEL_PRGM_ACADEMICO       3855 non-null   object
 58  ESTU_METODO_PRGM                3855 non-null   object
 59  ESTU_NUCLEO_PREGRADO            3855 non-null   object
 60  ESTU_INST_CODMUNICIPIO          3855 non-null   int64
 61  ESTU_INST_MUNICIPIO             3855 non-null   object
 62  ESTU_INST_DEPARTAMENTO          3855 non-null   object
 63  INST_CARACTER_ACADEMICO         3855 non-null   object
 64  INST_ORIGEN                     3855 non-null   object
 65  ESTU_PRIVADO_LIBERTAD           3855 non-null   object
 66  ESTU_COD_MCPIO_PRESENTACION     3855 non-null   int64
 67  ESTU_MCPIO_PRESENTACION         3855 non-null   object
 68  ESTU_DEPTO_PRESENTACION         3855 non-null   object
 69  ESTU_COD_DEPTO_PRESENTACION     3855 non-null   int64
 70  MOD_RAZONA_CUANTITAT_PUNT       3855 non-null   int64
 71  MOD_RAZONA_CUANTITAT_DESEM      3855 non-null   int64
 72  MOD_RAZONA_CUANTITATIVO_PNAL    3855 non-null   int64
 73  MOD_RAZONA_CUANTITATIVO_PNBC    3855 non-null   int64
 74  MOD_LECTURA_CRITICA_PUNT        3855 non-null   int64
 75  MOD_LECTURA_CRITICA_DESEM       3855 non-null   int64
 76  MOD_LECTURA_CRITICA_PNAL        3855 non-null   int64
 77  MOD_LECTURA_CRITICA_PNBC        3855 non-null   int64
 78  MOD_COMPETEN_CIUDADA_PUNT       3855 non-null   int64
 79  MOD_COMPETEN_CIUDADA_DESEM      3855 non-null   int64
 80  MOD_COMPETEN_CIUDADA_PNAL       3855 non-null   int64
 81  MOD_COMPETEN_CIUDADA_PNBC       3855 non-null   int64
 82  MOD_INGLES_PUNT                 3855 non-null   int64
 83  MOD_INGLES_DESEM                3855 non-null   object
 84  MOD_INGLES_PNAL                 3855 non-null   int64
 85  MOD_INGLES_PNBC                 3855 non-null   int64
 86  MOD_COMUNI_ESCRITA_PUNT         3855 non-null   int64
 87  MOD_COMUNI_ESCRITA_DESEM        3801 non-null   float64
 88  MOD_COMUNI_ESCRITA_PNAL         3855 non-null   int64
 89  MOD_COMUNI_ESCRITA_PNBC         3855 non-null   int64
 90  PUNT_GLOBAL                     3855 non-null   int64
 91  PERCENTIL_NBC                   3855 non-null   int64
 92  PERCENTIL_GLOBAL                3855 non-null   int64
 93  ESTU_INSE_INDIVIDUAL            3724 non-null   float64
 94  ESTU_NSE_INDIVIDUAL             3724 non-null   float64
 95  ESTU_NSE_IES                    3855 non-null   int64
 96  ESTU_ESTADOINVESTIGACION        3855 non-null   object
dtypes: float64(5), int64(34), object(58)
memory usage: 2.9+ MB

In [ ]:
df.head()

,ESTU_CONSECUTIVO,RESULT_CODIGOPRUEBA,RESULT_NOMBREPRUEBA,RESULT_PUNTAJE,RESULT_DESEMPENO,ESTU_AGREGADO,ESTU_TIPODOCUMENTO,ESTU_NACIONALIDAD,ESTU_GENERO,ESTU_FECHANACIMIENTO,...,MOD_COMUNI_ESCRITA_DESEM,MOD_COMUNI_ESCRITA_PNAL,MOD_COMUNI_ESCRITA_PNBC,PUNT_GLOBAL,PERCENTIL_NBC,PERCENTIL_GLOBAL,ESTU_INSE_INDIVIDUAL,ESTU_NSE_INDIVIDUAL,ESTU_NSE_IES,ESTU_ESTADOINVESTIGACION
0,EK202120243329,2001,ANÁLISIS ECONÓMICO,128,2,S,CC,COLOMBIA,M,14/10/1996,...,3.0,71,57,201,95,99,51.049129,2.0,3,PUBLICAR
1,EK202120227314,2001,ANÁLISIS ECONÓMICO,209,4,S,CC,COLOMBIA,M,17/02/2001,...,4.0,100,100,222,99,100,66.866795,4.0,4,PUBLICAR
2,EK202120088295,2001,ANÁLISIS ECONÓMICO,106,1,S,CC,COLOMBIA,M,02/10/1991,...,NaN,1,1,88,1,2,37.751353,1.0,2,PUBLICAR
3,EK202120120119,2001,ANÁLISIS ECONÓMICO,89,1,S,CC,COLOMBIA,F,23/07/1998,...,1.0,12,7,159,49,71,59.846055,4.0,2,PUBLICAR
4,EK202120248108,2001,ANÁLISIS ECONÓMICO,122,1,S,CC,COLOMBIA,M,23/09/1997,...,2.0,20,13,156,44,67,48.248516,2.0,2,PUBLICAR

In [ ]:
df.shape

(3855, 97)

In [ ]:
df.columns

Index(['ESTU_CONSECUTIVO', 'RESULT_CODIGOPRUEBA', 'RESULT_NOMBREPRUEBA',
       'RESULT_PUNTAJE', 'RESULT_DESEMPENO', 'ESTU_AGREGADO',
       'ESTU_TIPODOCUMENTO', 'ESTU_NACIONALIDAD', 'ESTU_GENERO',
       'ESTU_FECHANACIMIENTO', 'ESTU_EXTERIOR', 'PERIODO', 'ESTU_ESTUDIANTE',
       'ESTU_PAIS_RESIDE', 'ESTU_DEPTO_RESIDE', 'ESTU_COD_RESIDE_DEPTO',
       'ESTU_MCPIO_RESIDE', 'ESTU_COD_RESIDE_MCPIO', 'ESTU_AREARESIDE',
       'ESTU_COLE_TERMINO', 'ESTU_CODDANE_COLE_TERMINO',
       'ESTU_COD_COLE_MCPIO_TERMINO', 'ESTU_TITULOOBTENIDOBACHILLER',
       'ESTU_VALORMATRICULAUNIVERSIDAD', 'ESTU_PAGOMATRICULABECA',
       'ESTU_PAGOMATRICULACREDITO', 'ESTU_PAGOMATRICULAPADRES',
       'ESTU_PAGOMATRICULAPROPIO', 'ESTU_COMOCAPACITOEXAMENSB11',
       'ESTU_TIPODOCUMENTOSB11', 'ESTU_SEMESTRECURSA', 'FAMI_EDUCACIONPADRE',
       'FAMI_EDUCACIONMADRE', 'FAMI_TRABAJOLABORPADRE',
       'FAMI_TRABAJOLABORMADRE', 'FAMI_ESTRATOVIVIENDA',
       'ESTU_OTROCOLE_TERMINO', 'FAMI_TIENEINTERNET', 'FAMI_TIENECOMPUTADOR',
       'FAMI_TIENELAVADORA', 'FAMI_TIENEHORNOMICROOGAS',
       'FAMI_TIENESERVICIOTV', 'FAMI_TIENEAUTOMOVIL', 'FAMI_TIENEMOTOCICLETA',
       'FAMI_TIENECONSOLAVIDEOJUEGOS', 'FAMI_CUANTOSCOMPARTEBAÑO',
       'ESTU_PRESENTACIONCASA', 'ESTU_PAISDOCUMENTOS11',
       'ESTU_HORASSEMANATRABAJA', 'INST_COD_INSTITUCION',
       'INST_NOMBRE_INSTITUCION', 'ESTU_PRGM_ACADEMICO',
       'ESTU_SNIES_PRGMACADEMICO', 'GRUPOREFERENCIA', 'ESTU_PRGM_CODMUNICIPIO',
       'ESTU_PRGM_MUNICIPIO', 'ESTU_PRGM_DEPARTAMENTO',
       'ESTU_NIVEL_PRGM_ACADEMICO', 'ESTU_METODO_PRGM', 'ESTU_NUCLEO_PREGRADO',
       'ESTU_INST_CODMUNICIPIO', 'ESTU_INST_MUNICIPIO',
       'ESTU_INST_DEPARTAMENTO', 'INST_CARACTER_ACADEMICO', 'INST_ORIGEN',
       'ESTU_PRIVADO_LIBERTAD', 'ESTU_COD_MCPIO_PRESENTACION',
       'ESTU_MCPIO_PRESENTACION', 'ESTU_DEPTO_PRESENTACION',
       'ESTU_COD_DEPTO_PRESENTACION', 'MOD_RAZONA_CUANTITAT_PUNT',
       'MOD_RAZONA_CUANTITAT_DESEM', 'MOD_RAZONA_CUANTITATIVO_PNAL',
       'MOD_RAZONA_CUANTITATIVO_PNBC', 'MOD_LECTURA_CRITICA_PUNT',
       'MOD_LECTURA_CRITICA_DESEM', 'MOD_LECTURA_CRITICA_PNAL',
       'MOD_LECTURA_CRITICA_PNBC', 'MOD_COMPETEN_CIUDADA_PUNT',
       'MOD_COMPETEN_CIUDADA_DESEM', 'MOD_COMPETEN_CIUDADA_PNAL',
       'MOD_COMPETEN_CIUDADA_PNBC', 'MOD_INGLES_PUNT', 'MOD_INGLES_DESEM',
       'MOD_INGLES_PNAL', 'MOD_INGLES_PNBC', 'MOD_COMUNI_ESCRITA_PUNT',
       'MOD_COMUNI_ESCRITA_DESEM', 'MOD_COMUNI_ESCRITA_PNAL',
       'MOD_COMUNI_ESCRITA_PNBC', 'PUNT_GLOBAL', 'PERCENTIL_NBC',
       'PERCENTIL_GLOBAL', 'ESTU_INSE_INDIVIDUAL', 'ESTU_NSE_INDIVIDUAL',
       'ESTU_NSE_IES', 'ESTU_ESTADOINVESTIGACION'],
      dtype='object')

In [ ]:
df.head()

,ESTU_CONSECUTIVO,RESULT_CODIGOPRUEBA,RESULT_NOMBREPRUEBA,RESULT_PUNTAJE,RESULT_DESEMPENO,ESTU_AGREGADO,ESTU_TIPODOCUMENTO,ESTU_NACIONALIDAD,ESTU_GENERO,ESTU_FECHANACIMIENTO,...,MOD_COMUNI_ESCRITA_DESEM,MOD_COMUNI_ESCRITA_PNAL,MOD_COMUNI_ESCRITA_PNBC,PUNT_GLOBAL,PERCENTIL_NBC,PERCENTIL_GLOBAL,ESTU_INSE_INDIVIDUAL,ESTU_NSE_INDIVIDUAL,ESTU_NSE_IES,ESTU_ESTADOINVESTIGACION
0,EK202120243329,2001,ANÁLISIS ECONÓMICO,128,2,S,CC,COLOMBIA,M,14/10/1996,...,3.0,71,57,201,95,99,51.049129,2.0,3,PUBLICAR
1,EK202120227314,2001,ANÁLISIS ECONÓMICO,209,4,S,CC,COLOMBIA,M,17/02/2001,...,4.0,100,100,222,99,100,66.866795,4.0,4,PUBLICAR
2,EK202120088295,2001,ANÁLISIS ECONÓMICO,106,1,S,CC,COLOMBIA,M,02/10/1991,...,NaN,1,1,88,1,2,37.751353,1.0,2,PUBLICAR
3,EK202120120119,2001,ANÁLISIS ECONÓMICO,89,1,S,CC,COLOMBIA,F,23/07/1998,...,1.0,12,7,159,49,71,59.846055,4.0,2,PUBLICAR
4,EK202120248108,2001,ANÁLISIS ECONÓMICO,122,1,S,CC,COLOMBIA,M,23/09/1997,...,2.0,20,13,156,44,67,48.248516,2.0,2,PUBLICAR

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3855 entries, 0 to 3854
Data columns (total 97 columns):
 #   Column                          Non-Null Count  Dtype
---  ------                          --------------  -----
 0   ESTU_CONSECUTIVO                3855 non-null   object
 1   RESULT_CODIGOPRUEBA             3855 non-null   int64
 2   RESULT_NOMBREPRUEBA             3855 non-null   object
 3   RESULT_PUNTAJE                  3855 non-null   int64
 4   RESULT_DESEMPENO                3855 non-null   int64
 5   ESTU_AGREGADO                   3855 non-null   object
 6   ESTU_TIPODOCUMENTO              3855 non-null   object
 7   ESTU_NACIONALIDAD               3855 non-null   object
 8   ESTU_GENERO                     3855 non-null   object
 9   ESTU_FECHANACIMIENTO            3855 non-null   object
 10  ESTU_EXTERIOR                   3855 non-null   object
 11  PERIODO                         3855 non-null   int64
 12  ESTU_ESTUDIANTE                 3855 non-null   object
 13  ESTU_PAIS_RESIDE                3855 non-null   object
 14  ESTU_DEPTO_RESIDE               3855 non-null   object
 15  ESTU_COD_RESIDE_DEPTO           3855 non-null   int64
 16  ESTU_MCPIO_RESIDE               3855 non-null   object
 17  ESTU_COD_RESIDE_MCPIO           3855 non-null   int64
 18  ESTU_AREARESIDE                 3852 non-null   object
 19  ESTU_COLE_TERMINO               2768 non-null   object
 20  ESTU_CODDANE_COLE_TERMINO       2768 non-null   float64
 21  ESTU_COD_COLE_MCPIO_TERMINO     2768 non-null   float64
 22  ESTU_TITULOOBTENIDOBACHILLER    3850 non-null   object
 23  ESTU_VALORMATRICULAUNIVERSIDAD  3850 non-null   object
 24  ESTU_PAGOMATRICULABECA          3850 non-null   object
 25  ESTU_PAGOMATRICULACREDITO       3850 non-null   object
 26  ESTU_PAGOMATRICULAPADRES        3850 non-null   object
 27  ESTU_PAGOMATRICULAPROPIO        3850 non-null   object
 28  ESTU_COMOCAPACITOEXAMENSB11     3852 non-null   object
 29  ESTU_TIPODOCUMENTOSB11          3821 non-null   object
 30  ESTU_SEMESTRECURSA              3850 non-null   object
 31  FAMI_EDUCACIONPADRE             3760 non-null   object
 32  FAMI_EDUCACIONMADRE             3755 non-null   object
 33  FAMI_TRABAJOLABORPADRE          3451 non-null   object
 34  FAMI_TRABAJOLABORMADRE          3611 non-null   object
 35  FAMI_ESTRATOVIVIENDA            3721 non-null   object
 36  ESTU_OTROCOLE_TERMINO           704 non-null    object
 37  FAMI_TIENEINTERNET              3723 non-null   object
 38  FAMI_TIENECOMPUTADOR            3483 non-null   object
 39  FAMI_TIENELAVADORA              3444 non-null   object
 40  FAMI_TIENEHORNOMICROOGAS        3423 non-null   object
 41  FAMI_TIENESERVICIOTV            3739 non-null   object
 42  FAMI_TIENEAUTOMOVIL             3414 non-null   object
 43  FAMI_TIENEMOTOCICLETA           3423 non-null   object
 44  FAMI_TIENECONSOLAVIDEOJUEGOS    3430 non-null   object
 45  FAMI_CUANTOSCOMPARTEBAÑO        3730 non-null   object
 46  ESTU_PRESENTACIONCASA           3855 non-null   object
 47  ESTU_PAISDOCUMENTOS11           3850 non-null   object
 48  ESTU_HORASSEMANATRABAJA         3723 non-null   object
 49  INST_COD_INSTITUCION            3855 non-null   int64
 50  INST_NOMBRE_INSTITUCION         3855 non-null   object
 51  ESTU_PRGM_ACADEMICO             3855 non-null   object
 52  ESTU_SNIES_PRGMACADEMICO        3855 non-null   int64
 53  GRUPOREFERENCIA                 3855 non-null   object
 54  ESTU_PRGM_CODMUNICIPIO          3855 non-null   int64
 55  ESTU_PRGM_MUNICIPIO             3855 non-null   object
 56  ESTU_PRGM_DEPARTAMENTO          3855 non-null   object
 57  ESTU_NIVEL_PRGM_ACADEMICO       3855 non-null   object
 58  ESTU_METODO_PRGM                3855 non-null   object
 59  ESTU_NUCLEO_PREGRADO            3855 non-null   object
 60  ESTU_INST_CODMUNICIPIO          3855 non-null   int64
 61  ESTU_INST_MUNICIPIO             3855 non-null   object
 62  ESTU_INST_DEPARTAMENTO          3855 non-null   object
 63  INST_CARACTER_ACADEMICO         3855 non-null   object
 64  INST_ORIGEN                     3855 non-null   object
 65  ESTU_PRIVADO_LIBERTAD           3855 non-null   object
 66  ESTU_COD_MCPIO_PRESENTACION     3855 non-null   int64
 67  ESTU_MCPIO_PRESENTACION         3855 non-null   object
 68  ESTU_DEPTO_PRESENTACION         3855 non-null   object
 69  ESTU_COD_DEPTO_PRESENTACION     3855 non-null   int64
 70  MOD_RAZONA_CUANTITAT_PUNT       3855 non-null   int64
 71  MOD_RAZONA_CUANTITAT_DESEM      3855 non-null   int64
 72  MOD_RAZONA_CUANTITATIVO_PNAL    3855 non-null   int64
 73  MOD_RAZONA_CUANTITATIVO_PNBC    3855 non-null   int64
 74  MOD_LECTURA_CRITICA_PUNT        3855 non-null   int64
 75  MOD_LECTURA_CRITICA_DESEM       3855 non-null   int64
 76  MOD_LECTURA_CRITICA_PNAL        3855 non-null   int64
 77  MOD_LECTURA_CRITICA_PNBC        3855 non-null   int64
 78  MOD_COMPETEN_CIUDADA_PUNT       3855 non-null   int64
 79  MOD_COMPETEN_CIUDADA_DESEM      3855 non-null   int64
 80  MOD_COMPETEN_CIUDADA_PNAL       3855 non-null   int64
 81  MOD_COMPETEN_CIUDADA_PNBC       3855 non-null   int64
 82  MOD_INGLES_PUNT                 3855 non-null   int64
 83  MOD_INGLES_DESEM                3855 non-null   object
 84  MOD_INGLES_PNAL                 3855 non-null   int64
 85  MOD_INGLES_PNBC                 3855 non-null   int64
 86  MOD_COMUNI_ESCRITA_PUNT         3855 non-null   int64
 87  MOD_COMUNI_ESCRITA_DESEM        3801 non-null   float64
 88  MOD_COMUNI_ESCRITA_PNAL         3855 non-null   int64
 89  MOD_COMUNI_ESCRITA_PNBC         3855 non-null   int64
 90  PUNT_GLOBAL                     3855 non-null   int64
 91  PERCENTIL_NBC                   3855 non-null   int64
 92  PERCENTIL_GLOBAL                3855 non-null   int64
 93  ESTU_INSE_INDIVIDUAL            3724 non-null   float64
 94  ESTU_NSE_INDIVIDUAL             3724 non-null   float64
 95  ESTU_NSE_IES                    3855 non-null   int64
 96  ESTU_ESTADOINVESTIGACION        3855 non-null   object
dtypes: float64(5), int64(34), object(58)
memory usage: 2.9+ MB

In [ ]:
df.dropna(axis=0,inplace=True,subset=['ESTU_CODDANE_COLE_TERMINO','ESTU_COD_COLE_MCPIO_TERMINO','ESTU_INSE_INDIVIDUAL','ESTU_NSE_INDIVIDUAL'])

Reduccion de dimensionalidad

In [ ]:
df

,ESTU_CONSECUTIVO,RESULT_CODIGOPRUEBA,RESULT_NOMBREPRUEBA,RESULT_PUNTAJE,RESULT_DESEMPENO,ESTU_AGREGADO,ESTU_TIPODOCUMENTO,ESTU_NACIONALIDAD,ESTU_GENERO,ESTU_FECHANACIMIENTO,...,MOD_COMUNI_ESCRITA_DESEM,MOD_COMUNI_ESCRITA_PNAL,MOD_COMUNI_ESCRITA_PNBC,PUNT_GLOBAL,PERCENTIL_NBC,PERCENTIL_GLOBAL,ESTU_INSE_INDIVIDUAL,ESTU_NSE_INDIVIDUAL,ESTU_NSE_IES,ESTU_ESTADOINVESTIGACION
0,EK202120243329,2001,ANÁLISIS ECONÓMICO,128,2,S,CC,COLOMBIA,M,14/10/1996,...,3.0,71,57,201,95,99,51.049129,2.0,3,PUBLICAR
1,EK202120227314,2001,ANÁLISIS ECONÓMICO,209,4,S,CC,COLOMBIA,M,17/02/2001,...,4.0,100,100,222,99,100,66.866795,4.0,4,PUBLICAR
3,EK202120120119,2001,ANÁLISIS ECONÓMICO,89,1,S,CC,COLOMBIA,F,23/07/1998,...,1.0,12,7,159,49,71,59.846055,4.0,2,PUBLICAR
5,EK202120227114,2001,ANÁLISIS ECONÓMICO,96,1,S,CC,COLOMBIA,F,26/05/1997,...,2.0,56,42,147,32,54,36.844694,1.0,2,PUBLICAR
6,EK202120123602,2001,ANÁLISIS ECONÓMICO,116,1,S,CC,COLOMBIA,M,10/07/1999,...,1.0,10,6,150,35,59,47.179492,2.0,2,PUBLICAR
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3843,EK202120317944,2001,ANÁLISIS ECONÓMICO,155,3,S,CC,COLOMBIA,M,07/03/1996,...,3.0,61,47,166,59,79,41.252918,1.0,2,PUBLICAR
3845,EK202120100466,2001,ANÁLISIS ECONÓMICO,115,1,S,CC,COLOMBIA,F,25/04/1996,...,2.0,31,21,137,20,39,47.715487,2.0,1,PUBLICAR
3846,EK202120184046,2001,ANÁLISIS ECONÓMICO,159,3,S,CC,COLOMBIA,M,23/09/1993,...,4.0,96,92,201,95,99,47.771456,2.0,2,PUBLICAR
3847,EK202120127660,2001,ANÁLISIS ECONÓMICO,121,1,S,CC,COLOMBIA,M,29/05/1995,...,2.0,38,27,144,28,50,55.112615,2.0,2,PUBLICAR
3850,EK202120232172,2001,ANÁLISIS ECONÓMICO,151,2,S,CC,COLOMBIA,M,18/03/1996,...,3.0,93,87,196,93,98,75.589753,4.0,4,PUBLICAR

In [ ]:
df_limpia = df.drop(['ESTU_CODDANE_COLE_TERMINO',axis=1)

SyntaxError: ignored

In [ ]:
df = df.select_dtypes(exclude=['object'])
print(df)

      RESULT_CODIGOPRUEBA  RESULT_PUNTAJE  RESULT_DESEMPENO  PERIODO  \
0                    2001             128                 2    20212
1                    2001             209                 4    20212
3                    2001              89                 1    20212
5                    2001              96                 1    20212
6                    2001             116                 1    20212
...                   ...             ...               ...      ...
3843                 2001             155                 3    20212
3845                 2001             115                 1    20212
3846                 2001             159                 3    20212
3847                 2001             121                 1    20212
3850                 2001             151                 2    20212

      ESTU_COD_RESIDE_DEPTO  ESTU_COD_RESIDE_MCPIO  ESTU_CODDANE_COLE_TERMINO  \
0                        25                  25430               1.258620e+11
1                        11                  11001               3.110011e+11
3                        11                  11001               1.118480e+11
5                        11                  11001               3.110011e+11
6                        76                  76109               3.761090e+11
...                     ...                    ...                        ...
3843                     11                  11001               1.110010e+11
3845                     52                  52838               1.528380e+11
3846                     11                  11001               3.110011e+11
3847                     17                  17001               3.170010e+11
3850                     76                  76001               3.760010e+11

      ESTU_COD_COLE_MCPIO_TERMINO  INST_COD_INSTITUCION  \
0                         25862.0                  2812
1                         11001.0                  1813
3                         11001.0                  2725
5                         11001.0                  1719
6                         76109.0                  1203
...                           ...                   ...
3843                      11001.0                  1101
3845                      52838.0                  1206
3846                      11001.0                  1101
3847                      17001.0                  2719
3850                      76001.0                  1813

      ESTU_SNIES_PRGMACADEMICO  ...  MOD_COMUNI_ESCRITA_PUNT  \
0                       102065  ...                      159
1                         1535  ...                      300
3                       101387  ...                      101
5                        12796  ...                      146
6                        52697  ...                       97
...                        ...  ...                      ...
3843                        18  ...                      151
3845                    105003  ...                      125
3846                        18  ...                      186
3847                    101292  ...                      128
3850                      1535  ...                      180

      MOD_COMUNI_ESCRITA_DESEM  MOD_COMUNI_ESCRITA_PNAL  \
0                          3.0                       71
1                          4.0                      100
3                          1.0                       12
5                          2.0                       56
6                          1.0                       10
...                        ...                      ...
3843                       3.0                       61
3845                       2.0                       31
3846                       4.0                       96
3847                       2.0                       38
3850                       3.0                       93

      MOD_COMUNI_ESCRITA_PNBC  PUNT_GLOBAL  PERCENTIL_NBC  PERCENTIL_GLOBAL  \
0                          57          201             95                99
1                         100          222             99               100
3                           7          159             49                71
5                          42          147             32                54
6                           6          150             35                59
...                       ...          ...            ...               ...
3843                       47          166             59                79
3845                       21          137             20                39
3846                       92          201             95                99
3847                       27          144             28                50
3850                       87          196             93                98

      ESTU_INSE_INDIVIDUAL  ESTU_NSE_INDIVIDUAL  ESTU_NSE_IES
0                51.049129                  2.0             3
1                66.866795                  4.0             4
3                59.846055                  4.0             2
5                36.844694                  1.0             2
6                47.179492                  2.0             2
...                    ...                  ...           ...
3843             41.252918                  1.0             2
3845             47.715487                  2.0             1
3846             47.771456                  2.0             2
3847             55.112615                  2.0             2
3850             75.589753                  4.0             4

[2673 rows x 39 columns]

In [ ]:
df.to_numpy()

array([[2.00100000e+03, 1.28000000e+02, 2.00000000e+00, ...,
        5.10491287e+01, 2.00000000e+00, 3.00000000e+00],
       [2.00100000e+03, 2.09000000e+02, 4.00000000e+00, ...,
        6.68667950e+01, 4.00000000e+00, 4.00000000e+00],
       [2.00100000e+03, 8.90000000e+01, 1.00000000e+00, ...,
        5.98460551e+01, 4.00000000e+00, 2.00000000e+00],
       ...,
       [2.00100000e+03, 1.59000000e+02, 3.00000000e+00, ...,
        4.77714564e+01, 2.00000000e+00, 2.00000000e+00],
       [2.00100000e+03, 1.21000000e+02, 1.00000000e+00, ...,
        5.51126146e+01, 2.00000000e+00, 2.00000000e+00],
       [2.00100000e+03, 1.51000000e+02, 2.00000000e+00, ...,
        7.55897533e+01, 4.00000000e+00, 4.00000000e+00]])

In [ ]:
df

,RESULT_CODIGOPRUEBA,RESULT_PUNTAJE,RESULT_DESEMPENO,PERIODO,ESTU_COD_RESIDE_DEPTO,ESTU_COD_RESIDE_MCPIO,ESTU_CODDANE_COLE_TERMINO,ESTU_COD_COLE_MCPIO_TERMINO,INST_COD_INSTITUCION,ESTU_SNIES_PRGMACADEMICO,...,MOD_COMUNI_ESCRITA_PUNT,MOD_COMUNI_ESCRITA_DESEM,MOD_COMUNI_ESCRITA_PNAL,MOD_COMUNI_ESCRITA_PNBC,PUNT_GLOBAL,PERCENTIL_NBC,PERCENTIL_GLOBAL,ESTU_INSE_INDIVIDUAL,ESTU_NSE_INDIVIDUAL,ESTU_NSE_IES
0,2001,128,2,20212,25,25430,1.258620e+11,25862.0,2812,102065,...,159,3.0,71,57,201,95,99,51.049129,2.0,3
1,2001,209,4,20212,11,11001,3.110011e+11,11001.0,1813,1535,...,300,4.0,100,100,222,99,100,66.866795,4.0,4
3,2001,89,1,20212,11,11001,1.118480e+11,11001.0,2725,101387,...,101,1.0,12,7,159,49,71,59.846055,4.0,2
5,2001,96,1,20212,11,11001,3.110011e+11,11001.0,1719,12796,...,146,2.0,56,42,147,32,54,36.844694,1.0,2
6,2001,116,1,20212,76,76109,3.761090e+11,76109.0,1203,52697,...,97,1.0,10,6,150,35,59,47.179492,2.0,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3843,2001,155,3,20212,11,11001,1.110010e+11,11001.0,1101,18,...,151,3.0,61,47,166,59,79,41.252918,1.0,2
3845,2001,115,1,20212,52,52838,1.528380e+11,52838.0,1206,105003,...,125,2.0,31,21,137,20,39,47.715487,2.0,1
3846,2001,159,3,20212,11,11001,3.110011e+11,11001.0,1101,18,...,186,4.0,96,92,201,95,99,47.771456,2.0,2
3847,2001,121,1,20212,17,17001,3.170010e+11,17001.0,2719,101292,...,128,2.0,38,27,144,28,50,55.112615,2.0,2
3850,2001,151,2,20212,76,76001,3.760010e+11,76001.0,1813,1535,...,180,3.0,93,87,196,93,98,75.589753,4.0,4

In [ ]:
df.columns

Index(['RESULT_CODIGOPRUEBA', 'RESULT_PUNTAJE', 'RESULT_DESEMPENO', 'PERIODO',
       'ESTU_COD_RESIDE_DEPTO', 'ESTU_COD_RESIDE_MCPIO',
       'ESTU_CODDANE_COLE_TERMINO', 'ESTU_COD_COLE_MCPIO_TERMINO',
       'INST_COD_INSTITUCION', 'ESTU_SNIES_PRGMACADEMICO',
       'ESTU_PRGM_CODMUNICIPIO', 'ESTU_INST_CODMUNICIPIO',
       'ESTU_COD_MCPIO_PRESENTACION', 'ESTU_COD_DEPTO_PRESENTACION',
       'MOD_RAZONA_CUANTITAT_PUNT', 'MOD_RAZONA_CUANTITAT_DESEM',
       'MOD_RAZONA_CUANTITATIVO_PNAL', 'MOD_RAZONA_CUANTITATIVO_PNBC',
       'MOD_LECTURA_CRITICA_PUNT', 'MOD_LECTURA_CRITICA_DESEM',
       'MOD_LECTURA_CRITICA_PNAL', 'MOD_LECTURA_CRITICA_PNBC',
       'MOD_COMPETEN_CIUDADA_PUNT', 'MOD_COMPETEN_CIUDADA_DESEM',
       'MOD_COMPETEN_CIUDADA_PNAL', 'MOD_COMPETEN_CIUDADA_PNBC',
       'MOD_INGLES_PUNT', 'MOD_INGLES_PNAL', 'MOD_INGLES_PNBC',
       'MOD_COMUNI_ESCRITA_PUNT', 'MOD_COMUNI_ESCRITA_DESEM',
       'MOD_COMUNI_ESCRITA_PNAL', 'MOD_COMUNI_ESCRITA_PNBC', 'PUNT_GLOBAL',
       'PERCENTIL_NBC', 'PERCENTIL_GLOBAL', 'ESTU_INSE_INDIVIDUAL',
       'ESTU_NSE_INDIVIDUAL', 'ESTU_NSE_IES'],
      dtype='object')

In [ ]:
scal = StandardScaler()
df_scal = scal.fit_transform(df)

pca = PCA(n_components=2)
df_pca = pca.fit_transform(df_scal)

pca_2 = pd.DataFrame(df_pca, columns=['PC1','PC2'])

ValueError: ignored